@model WebNC.Models.Sanh

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";}

<h2>XÓA SẢNH</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <b>@Html.DisplayFor(model => model.TenSanh)</b>
        </dd>
        <dd>
            <img src="~/Content/Images/Sanh/@Model.HinhSanh" class="img-thumbnail" style="width:1100px; height:500px" />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" class="btn btn-info" style="background-color:#d9b08c" value="Xóa" /> |
    @Html.ActionLink("Trở về", "Index")
</div>
    }
    
</div>
