
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container body-content" style="padding-left:300px;padding-right:300px;padding-top:10px;">
        <div class="container" style="text-align:center">
            <h2>ĐĂNG NHẬP</h2>
            <img style="height:300px;width:300px" src="~/Content/Images/login.jpg" />
        </div>
        <form action="@Url.Action("Login","Login")" method="post">
            <div class="container body-content" style="padding-left:115px;padding-right:100px">
                <div class="col-md-12">
                    <label>Tài khoản:</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" />
                </div>
                <div class="col-md-12">
                    <label>Mật khẩu:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                </div>
            </div>
            <hr />
            <div class="col-md-12" style="padding-top:10px;text-align:right">
                <input class="btn btn-primary" style="background-color:#d9b08c;color:#744025" type="submit" value="Đăng nhập" />
                <a class="btn btn-default" href="/Login/Register">Đăng ký</a>
            </div>
        </form>
    </div>

