@{
    ViewBag.Title = "Giới thiệu";
}

<div class="container-fluid">
    <img src="~/Content/Images/gioithieu.jpg" style="width:100%;height:600px" />
</div>

<div class="container body-content" style="text-align:center">
    <img style="width:500px;height:200px" src="~/Content/Images/hinh1.png">
    <h2>THÔNG TIN VỀ K&H VENUE</h2>
    <p>
        Tọa lạc ngay tại trung tâm thành phố và trên con đường Sư Vạn Hạnh sầm uất. K&H Venue là 1 trong những khách sạn 5 sao đầu tiên tại Saigon, hiện nay khách sạn vẫn luôn giữ vững vị thế của mình trong suốt hơn hai thập niên qua.
    </p>
    <img style="width:1200px;height:500px" src="~/Content/Images/nengioithieu.jpg">
    <p>Để mang đến những khoảnh khắc đáng nhớ cho khách hàng, khách sạn luôn sẵn sàng chuẩn bị cho các sự kiện, yến tiệc và cuộc họp với quy mô vừa và lớn. Cơ sở vật chất đa chức năng hiện đại và dịch vụ theo yêu cầu đảm bảo đem lại hiệu quả tốt nhất cho sự kiện. </p>
</div>

