@{
    ViewBag.Title = "Liên hệ";
}

<div class="container body-content" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602324215048!2d106.66521371480079!3d10.776019492321794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edba026cb75%3A0xb2a9aab49da1c58f!2zMTU1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1594818717077!5m2!1svi!2s" frameborder="0" style="border:0;width:1200px;height:400px;text-align:center" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="row">
        <div class="col-sm-6" style="padding-left:80px;padding-top:80px">
            <h2>THÔNG TIN LIÊN HỆ</h2>
            <p>Nếu bạn có thắc mắc xin hãy gọi:</p>
            <p>Hotline: 0929066331 | 0387777253</p>
            <p>Hoặc hãy liên hệ qua Email của chúng tôi:</p>
            <p>Email: nhochamvui5@gmail.com | luchihao253@gmail.com</p>
            <p>Địa chỉ: 155 Sư Vạn Hạnh (nối dài), P13, Q.10, TP.HCM</p>
        </div>
        <div class="col-sm-6" style="text-align:center">
            <img src="~/Content/Images/support.jpg" style="width:100%;height:400px"/>
        </div> 
    </div>
</div>