@model WebNC.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA THỰC ĐƠN</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.TenMenu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" class="btn btn-info" style="background-color:#d9b08c" value="Xóa" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }

</div>
